<form
	class="px-0"
	[formGroup]="personalDetailsForm"
	(ngSubmit)="submitFinal()">
	<h2>Personal Details</h2>
	<div class="field-group">
		<mat-form-field>
			<mat-label>First Name</mat-label>
			<input matInput
				   placeholder="Ex. John"
				   formControlName="first_name">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Last Name</mat-label>
			<input matInput
				   placeholder="Ex. Doe"
				   formControlName="last_name">
		</mat-form-field>
	</div>
	<mat-form-field>
		<mat-label>--Your Gender--</mat-label>
		<mat-select formControlName="gender">
			<mat-option value="male">Male</mat-option>
			<mat-option value="female">Female</mat-option>
		</mat-select>
	</mat-form-field>
	<h2>Address Details</h2>
	<div class="field-group">
		<mat-form-field>
			<mat-label>State</mat-label>
			<input matInput
				   placeholder="Ex. Littoral"
				   formControlName="state">
		</mat-form-field>
		<mat-form-field>
			<mat-label>City</mat-label>
			<input matInput
				   placeholder="Ex. Douala"
				   formControlName="city">
		</mat-form-field>
	</div>
	<mat-form-field>
		<mat-label>Address</mat-label>
		<input matInput
			   placeholder="Ex. Bonamoussadi, face santa Lucia"
			   formControlName="address">
	</mat-form-field>
	<h2>Contact Details</h2>
	<div class="field-group">
		<mat-form-field>
			<mat-label>Contact 1</mat-label>
			<input matInput
				   placeholder="Ex. +237 0000 000 00"
				   formControlName="contact_one">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Contact 2</mat-label>
			<input matInput
				   placeholder="Ex. +237 0000 000 00"
				   formControlName="contact_two">
		</mat-form-field>
	</div>
	<button type="submit" mat-flat-button color="primary" class='self-start'>complete</button>
</form>
