<mat-toolbar color='primary'>
	<div class='container flex justify-between items-center text-white'>
		<h2 class='text-white'><a routerLink='/'>Doctorhub</a></h2>
		<nav class='flex justify-between items-center gap-6'>
			<a
				type='button'
				routerLink='/registration'
				class="text-base text-purple-200 hover:text-white"
				*ngIf="!auth.isAuthenticated()"
			>Register</a>
			<a
				type='button'
				routerLink='./settings'
				*ngIf="auth.isAuthenticated()"
				class="text-base flex items-center gap-2 text-purple-200 hover:text-white"
			>
			<mat-icon>settings</mat-icon> Settings</a>
			<a
				type='button'
				routerLink='/login'
				class="text-base text-purple-200 hover:text-white"
				*ngIf="!auth.isAuthenticated()">Login</a>
			<button
				(click)='auth.logout()'
				*ngIf="auth.isAuthenticated()"
				class="flex items-center gap-2 text-base text-purple-200 hover:text-white"
				color='secondary'
			>
				<mat-icon fontIcon="logout"></mat-icon> Logout
			</button>
		</nav>
	</div>
</mat-toolbar>
<div class="flex flex-col">
	<router-outlet></router-outlet>
</div>
